/* global reset */
menu, ol, ul {
    padding: 0;
}

dd {
    margin: 0;
}

ul.unstyled {
	list-style: none;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.clearfix{
    *zoom:1
}

.clearfix:before,.clearfix:after{
    display:table;
    content:"";
    line-height:0
}

.clearfix:after{
    clear:both
}